/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-top: 0.1px;
 }

.footer {
    background-color: transparent;
 }

body {
    background-color: rgba(0, 0, 0,.5);
    background-image: url("../images/bg0.gif");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: #ffffff;
    text-align: center;
}

.intro {
    margin-top: 100px;
    font-size: 25px;
}

.tombol {
    font-weight: bold;
    border-radius: 35px;
    background-color: 0 solid red;
    Font-size: 18px;
}
